<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="width=device-width, initial-scale=1, minimal-ui" name="viewport">
	<meta charset="UTF-8">

    <style>
    	body {
    		padding: 20% 25% 0 25%
    	}
    </style>

	<title>Workshop AngularJS</title>
</head>

<body ng-app="app">

	<main ng-controller="AppCtrl">
		<input type="text" ng-model="userName">
		<button type="button" ng-click="cadastrar()">Cadastrar</button>
		<br><br>

		Nomes cadastrados: {{ lista.length }}
	</main>

	<br><br><hr><br><br>

	<div ng-controller="ListaCtrl">
		<ul>
			<li ng-repeat="nome in lista">
				{{ nome }}
			</li>
		</ul>
	</div>

	<script src="libs/angular.js"></script>
	<script src="app/app.js"></script>
</body>

</html>










